#sandbox {
    /* border: 1px solid #fff; */
}

#debug {
    font-family: 'Courier New', Courier, monospace;
    position:fixed;
    top:0; left:0;
    padding:1em;
}

#toolbar {
    font-family: 'Courier New', Courier, monospace;
    position:fixed;
    bottom:0;
    padding:1em;
}